# Pin constraints for Nexys 3 FPGA Digital Clock Project

NET "CLKIN" LOC = V10;

NET "CATHODES[0]" LOC = T17;
NET "CATHODES[1]" LOC = T18;
NET "CATHODES[2]" LOC = U17;
NET "CATHODES[3]" LOC = U18;
NET "CATHODES[4]" LOC = M14;
NET "CATHODES[5]" LOC = N14;
NET "CATHODES[6]" LOC = L14;
NET "CATHODES[7]" LOC = M13;

NET "AN[0]" LOC = N16;
NET "AN[1]" LOC = L15;
NET "AN[2]" LOC = P18;
NET "AN[3]" LOC = P17;
